body {
  margin: 0;
  font-family: "Aileron-Regular", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("Final_Crop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f8f9fa41 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 100px;
  height: auto;
}

.resizable-container {
  height: 400px;
  overflow: auto;
  resize: both;
}

h1 {
  text-align: center;
  color: white;
  text-shadow: 3px 3px 3px black;
  font-size: 600% !important;
}

h2 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 175% !important;
  text-emphasis-style: italic;
}

h3 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 125% !important;
}

h4 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 100% !important;
}

a {
  color: rgb(255, 255, 255) !important;
  text-shadow: 2px 2px 2px black;
  font-size: 125% !important;
}

a:hover {
  color: #eeb44f !important;
}

.container-fluid {
  background-image: url("./components/header/Nav_Background.png") !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.navbar {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.navbar-brand {
  text-shadow: 2px 2px 2px black;
  font-size: 36px !important;
  padding-top: 6px !important;
  padding-bottom: 0px !important;
  padding-left: 4px;
}

.navbar-misc {
  font-size: 22px !important;
  padding-right: 8px;
  font-family: "Aileron-Regular", sans-serif !important;
}

.navbar-brand:hover {
  color: #ffbf6c !important;
}

.title-link:hover {
  color: #ffbf6c !important;
}

.title-link {
  font-size: 72px !important;
  padding-bottom: 12px;
}

.butt {
  box-shadow: inset 0px 1px 0px 0px #fce2c1;
  background: linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
  background-color: #ffc477;
  border-radius: 11px;
  border: 1px solid #000000;
  border-color: #000000;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Aileron-Regular" !important;
  font-size: 36px;
  font-weight: bold;
  padding: 10px 22px;
  text-decoration: none;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.butt:hover {
  background: linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
  background-color: #fb9e25;
}

.btn-primary {
  color: #ffffff;
  border-color: #000000 !important;
  align-items: center;
}

.fixed-bottom {
  background-color: rgba(0, 44, 120, 0.303);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  max-height: 20%;
  overflow: auto;
}

@media (max-height: 550px) {
  .fixed-bottom {
    display: none;
  }
}

.twitter-timeline {
  color: #ffffff;
}

.twitter-timeline:hover {
  color: #eeb44f;
}

label {
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 100% !important;
}

.btn-lg {
  font-size: 150% !important;
  padding: 10px 22px !important;
  border-radius: 11px !important;
}

.btn-sm {
  font-size: 90% !important;
  border-radius: 6px !important;
  text-shadow: 1px 1px 1px rgb(0, 0, 0) ;
}

.container-top {
  padding-top: 16px;
}

.big-container {
  padding-top: 12px;
}

.button-box {
  padding-top: 6px;
}

.url-label {
  padding-top: 16px !important;
}

.form-check-input:focus {
  box-shadow: 0, 0, 0, 0, none, none;
}

input {
  color: white !important;
  text-align: center;
}

.form-control {
  height: 36px !important;
  padding-top: 4px !important;
}

.form-floating {
  height: 32px !important;
}

.mb-3 {
  height: 32px !important;
}

.white-border {
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgb(255, 255, 255) !important;
  border-radius: 4px !important;
  padding-top: 6px;
  padding-bottom: 6px;
}

label {
  padding-bottom: 16px !important;
  padding-top: 2px !important;
}

input::-webkit-input-placeholder {
  text-align: center;
  color: white !important;
  text-shadow: 2px 2px 2px black;
  font-size: 100% !important;
  padding-top: 4px !important;
}

input:focus::-webkit-input-placeholder {
  font-size: 0% !important;
}

input[type="checkbox"]:checked {
  accent-color: rgb(255, 166, 0);
}

.left-container {
  padding-left: 24px;
}

.right {
  position: absolute;
  right: 36px;
  width: 300px;
}

.center {
  position: absolute;
  right: 35%;
  left: 25.5%;
  justify-content: center !important;
  align-items: center !important;
}

.profile-icon {
  height: 48px;
  width: 48px;
  padding-top: 4px;
  padding-bottom: 2px;
}

.resort-photo {
  width: 480px;
  height: 360px;
  border-radius: 16px !important;
}

.underlined {
  text-decoration: underline;
}

.profilep {
  border: #eeb44f;
  border-style: solid;
  border-radius: 50%;
}

Link:hover {
  color: #ffbf6c !important;
}

textarea {
  color: white !important;
}

.dropdown-menu {
  background-color: #8f9fbc !important;
  min-width: 15rem !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  margin: 0 !important;
}

.delete-button {
  float: right;
  padding-right: 20;
  border: none;
  background: none;
  box-shadow: none;
  outline: none;
  padding: none;
  margin: 0;
  color: white;
}

